body {
	text-align: center;
	margin: auto;

}
#content {
	border: thin solid;
	text-align: center;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 960px


}


#header {
	text-align: center;
	background-color: #eeeeee;
}

form label {
		text-align: left;
		display: inline-block;
		font-weight: bold;
		width: 140px;
		padding: 5px;
			
}
